*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 10%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
#left{
    height: 100%;
    width: 35%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: space-between;     */
    /* padding-left: 3vh; */
    align-items: center;
    
}
#left h4{
    font-size: 1.1vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    margin-right: 30px;
    /* background-color: yellow; */

}
#right{
    height: 100%;
    width: 30%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;

}
#right button{

    font-size: 1.1vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    /* margin-right: 30px; */
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 50px;
}
#right  button:nth-child(1){
    background-color: transparent;
    color: black;
    border: 0;
    border-radius: 0;
    margin-right: 10px;
}
#nav img{
    /* font-size: 10px; */
    margin-right: 60px;
    margin-bottom: 20px;
}


#center{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 10vh 0;
    /* position: relative; */
   

}
 #center h3{
    /* font-size: 1.5vw; */
    font-weight: 500;
    position: relative;
    left:35%;
    border-radius: 50px;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    background-color: rgb(255, 223, 180);
 }

 #center h1{
    font-size: 5vw;
    line-height: 8vh;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    text-align: center;
    margin: 30px ;
 }

 #center h4{
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 500; */
    margin-bottom: 30px;
    text-align: center;
   
}
#center button{
    position: relative;
    left: 43%;
    /* top: 20%; */
    font-size: 1.1vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    /* letter-spacing: -1px; */
    /* margin-right: 30px; */
    padding: 15px 15px;
    border-radius: 50px;
    background-color: black;
    color: white;
    mix-blend-mode: difference;
    overflow: hidden;
    
}   
#center button::after{
    content: "";
    height: 50px;
    width: 50px;
    background-color: burlywood;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: all linear 0.5s;
    z-index: -1;
}
#center button:hover::after{
     /* width: 0; */
    transform: translate(-50%,-50%) scale(3);

}    
#center button:hover{
    color: black;
}


#bottom{
    display: inline-block;
    height: 320px;
    width: 100%;
    /* background-color: red; */
    padding: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10px;
    /* animation-name: anime; */
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    right: 0;
}
@keyframes anime {
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-100%);
    }
    
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    margin-right: 25px;
    display: inline-block;
    height: 100%;
    width: 270px;
    background-color: royalblue;
    /* border: 2px solid black; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.elem img:nth-child(1){
    object-position: 20% 0%;

}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text{
    height: 30%;
    width: 100%;
    /* background-color: black; */
    position: absolute;
    bottom: 0;
}
.text h5{
    color: whitesmoke;
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    padding: 15px;
    padding-left: 20px;
}


#page1{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    padding-top: 60px;
    
    

}
#page1 h1{
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    
}
#ph{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 20px;
    padding-right: 30px;
}
.photo{
    display: inline-block;
    height: 250px;
    width: 280px;
    background-color: red;
    overflow: hidden;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 10px;
    position: relative;
    
}
.photo video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#page2{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.text2{
    height: 30%;
    width: 100%;
    background: linear-gradient(transparent, black);
    transition: all ease 0.3s;
    position: absolute;
    bottom: -40%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: none; */
}
.text2 h5{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.text2 i{
    font-size: 20px;
    padding: 5px 5px;
    color: black;
    border-radius: 50%;
    background-color: white;
}

.photo:hover .text2{
     bottom: 0;
}